//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 15 02:34:57 2015
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_DATA<0>" LOCATE = SITE "F6" LEVEL 1;
COMP "LCD_DATA<1>" LOCATE = SITE "D3" LEVEL 1;
COMP "LCD_DATA<2>" LOCATE = SITE "E4" LEVEL 1;
COMP "LCD_DATA<3>" LOCATE = SITE "G6" LEVEL 1;
COMP "LCD_DATA<4>" LOCATE = SITE "H7" LEVEL 1;
COMP "LCD_DATA<5>" LOCATE = SITE "D1" LEVEL 1;
COMP "LCD_DATA<6>" LOCATE = SITE "D2" LEVEL 1;
COMP "LCD_DATA<7>" LOCATE = SITE "F3" LEVEL 1;
COMP "D16" LOCATE = SITE "H5" LEVEL 1;
COMP "Cin" LOCATE = SITE "J3" LEVEL 1;
COMP "MODE" LOCATE = SITE "T1" LEVEL 1;
COMP "Cout" LOCATE = SITE "L3" LEVEL 1;
COMP "audio_bck" LOCATE = SITE "K16" LEVEL 1;
COMP "seg<10>" LOCATE = SITE "V4" LEVEL 1;
COMP "seg<11>" LOCATE = SITE "V7" LEVEL 1;
COMP "seg<12>" LOCATE = SITE "R7" LEVEL 1;
COMP "seg<13>" LOCATE = SITE "T7" LEVEL 1;
COMP "seg<14>" LOCATE = SITE "U5" LEVEL 1;
COMP "audio_appsel" LOCATE = SITE "H18" LEVEL 1;
COMP "audio_sysclk" LOCATE = SITE "H17" LEVEL 1;
COMP "button<0>" LOCATE = SITE "T2" LEVEL 1;
COMP "button<1>" LOCATE = SITE "U1" LEVEL 1;
COMP "button<2>" LOCATE = SITE "U2" LEVEL 1;
COMP "button<3>" LOCATE = SITE "M5" LEVEL 1;
COMP "button<4>" LOCATE = SITE "L6" LEVEL 1;
COMP "button<5>" LOCATE = SITE "P3" LEVEL 1;
COMP "button<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "button<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "LCD_DI" LOCATE = SITE "C1" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "C2" LEVEL 1;
COMP "LCD_ENABLE" LOCATE = SITE "F5" LEVEL 1;
COMP "audio_data" LOCATE = SITE "L16" LEVEL 1;
COMP "dig<0>" LOCATE = SITE "T6" LEVEL 1;
COMP "dig<1>" LOCATE = SITE "V6" LEVEL 1;
COMP "dig<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "dig<3>" LOCATE = SITE "V8" LEVEL 1;
COMP "audio_ws" LOCATE = SITE "L15" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "V5" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "U7" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "N5" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "seg<8>" LOCATE = SITE "T3" LEVEL 1;
COMP "seg<9>" LOCATE = SITE "T4" LEVEL 1;
COMP "LCD_RSTN" LOCATE = SITE "E3" LEVEL 1;
COMP "LCD_CS1" LOCATE = SITE "F4" LEVEL 1;
COMP "LCD_CS2" LOCATE = SITE "E1" LEVEL 1;
COMP "LCD_CLK" LOCATE = SITE "R10" LEVEL 1;
SCHEMATIC END;

